In [9]:
abc = [1,2,3,2,1,2,3,4,5]

In [11]:
abc

[1, 2, 3, 2, 1, 2, 3, 4, 5]

# TUPPLE

In [37]:
myTupple=(1,2,3,4,5)

In [38]:
len(myTupple)

5

In [40]:
myTupple[3]

4

In [15]:
type(myTupple)

set

In [16]:
myTupple = {3,4,5,6,7}

In [17]:
type(myTupple)

set

In [18]:
myTupple = (3,4,5,7)

In [19]:
type(myTupple)

tuple

In [20]:
#Packing and Unpacking in List and Tupples :

In [27]:
a = ("asad", "Fahad", "kashif","Qasim")
#Packing

In [22]:
w,x,y,z=a

In [23]:
w

'asad'

In [24]:
x

'Fahad'

In [25]:
y

'kashif'

In [26]:
z

'Qasim'

In [35]:
#List
rectangle=[100,200]

In [32]:
height, width = rectangle

In [33]:
height

100

In [34]:
width

200

# For Loops:

In [38]:
#task : print your name ten times :

name = "Muhammad Kashif"

for i in range(0,10) :
    print(name)

Muhammad Kashif
Muhammad Kashif
Muhammad Kashif
Muhammad Kashif
Muhammad Kashif
Muhammad Kashif
Muhammad Kashif
Muhammad Kashif
Muhammad Kashif
Muhammad Kashif

In [12]:
for i in range(0,5):
    for j in range(0,i):
        print("*",end="")
    print()

*
**
***
****

In [50]:
name = "Muhammad Kashif"

for i in range(1,10,2):
    print(i," - ",name)

1  -  Muhammad Kashif
3  -  Muhammad Kashif
5  -  Muhammad Kashif
7  -  Muhammad Kashif
9  -  Muhammad Kashif

In [52]:
name = "Muhammad Kashif"

for i in range(10,0,-1):
    print(i,"- ", name)

10 -  Muhammad Kashif
9 -  Muhammad Kashif
8 -  Muhammad Kashif
7 -  Muhammad Kashif
6 -  Muhammad Kashif
5 -  Muhammad Kashif
4 -  Muhammad Kashif
3 -  Muhammad Kashif
2 -  Muhammad Kashif
1 -  Muhammad Kashif

In [2]:
num = int(input(" - Enter Number : "))

for i in range(1,11):
    print(" ", num , "x", i, "=", num*i )

 - Enter Number : 2
  2 x 1 = 2
  2 x 2 = 4
  2 x 3 = 6
  2 x 4 = 8
  2 x 5 = 10
  2 x 6 = 12
  2 x 7 = 14
  2 x 8 = 16
  2 x 9 = 18
  2 x 10 = 20

In [95]:
myList = ["John", "Ada", "LoveLace"]
for i in myList : 
    print(i)

John
Ada
LoveLace

In [69]:
my_num = [2,4,6,8,10]
my_new_list = []

for i in my_num:
    my_new_list.append(i*2)
print(my_new_list)

[4, 8, 12, 16, 20]

In [85]:
for i in range(6) :
    
    
    if i == 4 :
        print(i*2)
    else:
        print(i)

0
1
2
3
8
5

In [73]:
#keywords : break, continuous, pass :

In [81]:
for i in range(0,10) :
    if i == 5 : 
        break
    print(i)

0
1
2
3
4

In [80]:
for i in range(0,10) :
    if i == 5 : 
        continue
        
    print(i)

0
1
2
3
4
6
7
8
9

In [83]:
for i in range(0,10) :
    if i == 5 : 
        pass
        
    print(i)

0
1
2
3
4
5
6
7
8
9

## Nested Loops :

In [3]:
# loops with string :

In [8]:
for i in "Pakistan" :
    for j in range(1,9):
        print(i, j)

P 1
P 2
P 3
P 4
P 5
P 6
P 7
P 8
a 1
a 2
a 3
a 4
a 5
a 6
a 7
a 8
k 1
k 2
k 3
k 4
k 5
k 6
k 7
k 8
i 1
i 2
i 3
i 4
i 5
i 6
i 7
i 8
s 1
s 2
s 3
s 4
s 5
s 6
s 7
s 8
t 1
t 2
t 3
t 4
t 5
t 6
t 7
t 8
a 1
a 2
a 3
a 4
a 5
a 6
a 7
a 8
n 1
n 2
n 3
n 4
n 5
n 6
n 7
n 8

In [9]:
for i in range(0,5):
    for j in range(0,i):
        print("*",end=' ')
    print("\r")

*
* *
* * *
* * * *

In [21]:
fName = ["kashif","Qasim","Sheryar","Moiz"]
lName = ["anwar","Umer","Jamal","khan"]
fullName = []

for i in fName:
    for j in lName:
         fullName.append(i+" "+j)
    
fullName

['kashif anwar',
 'kashif Umer',
 'kashif Jamal',
 'kashif khan',
 'Qasim anwar',
 'Qasim Umer',
 'Qasim Jamal',
 'Qasim khan',
 'Sheryar anwar',
 'Sheryar Umer',
 'Sheryar Jamal',
 'Sheryar khan',
 'Moiz anwar',
 'Moiz Umer',
 'Moiz Jamal',
 'Moiz khan']

In [22]:
#Changing Case :

In [24]:
sti = "Pakistan Zindabad"
len(sti)

17

In [25]:
sti[5:11]

'tan Zi'

# DIctionaries :

In [26]:
# definition :

In [27]:
adict = {}

In [28]:
type(adict)

dict

In [29]:
len(adict)

0

In [30]:
#Adding values in Dictionary :

In [44]:
adict['name'] = "Hamza Khan"
adict['age'] = 34
adict

{'name': 'Hamza Khan', 'age': 34}

In [33]:
adict["age"]

34

In [34]:
del adict["age"]

adict

{'name': 'Hamza Khan'}

In [39]:
#keys :
for i in adict.keys():
    print(i)

name
age

In [38]:
#Values : 
for i in adict.values():
    print(i)

Hamza Khan
34

In [45]:
#item
for k,v in adict.items() :
    print(k,v)

name Hamza Khan
age 34

# Creating the list of dictionaries :

In [21]:
ekList = [23, 45, 6,{"fruit":"apple","food":"biryani"}]

In [25]:
ekList[3]

{'fruit': 'apple', 'food': 'biryani'}